/* styles.css - External Stylesheet */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: rgba(27, 38, 54, 1);
    color: #fff; /* Set text color to white for better readability on a dark background */
}

h1 {
    text-align: center;
}

.album {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 60px 0;
    background-color: rgba(27, 38, 54, 1);
    color: #fff; /* Set text color to white for better readability on a dark background */

}

audio {
    width: 100%;
    margin-top: 10px;
}

/* Add your styles for the sidebar here */

.sidebar {
    width: 240px;
	height: 100%;
	padding: 8px 8px 8px 8px;
	background: #1E1E1E;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
}

.sidebar a {
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    color: #fff9f9;
    display: block;
}

.sidebar a:hover {
    background-color: #ddd;
}

.sidebar-header {
    text-align: center;
}

/* Add your styles for the topbar here */

.topbar {
    width: 80%;
	height: 140px;
	padding: 16px 16px 16px 175px;
	background: #1E1E1E;
    color: #fff;
    top: 0;
    left: 20%;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box; /* Include padding in the total width */
}

.search-bar {
    width: 300px;
    padding: 8px;
    margin-right: 10px;
}

.user-account {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.user-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
}
