<!-- home.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ATRACKTIVE</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Welcome to ATRACKTIVE/h1>

    {% for album in albums %}
        <div class="album">
            <h2>{{ album.name }}</h2>
            <p>Artist: {{ album.artist.name }}</p>
            <p>Release Date: {{ album.release_date }}</p>

            <h3>Tracks:</h3>
            <ul>
                {% for track in album.tracks.all %}
                    <li>{{ track.name }}</li>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <p>No album found.</p>
    {% endif %}
</body>
</html>