{% extends "_base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ATRACKTIVE</title>
    <link rel="stylesheet" href="https://unpkg.com/htmx.org@1.7.0/dist/htmx.css">
    <script src="https://unpkg.com/htmx.org@1.7.0/dist/htmx.js"></script>

</head>
<body>
  {% block content %}
    {% for album in albums %}
    <div class="flex flex-col items-center content-center mb-8 bg-white border border-gray-200 rounded-lg shadow-md w-96 h-96 dark:bg-gray-800 dark:border-gray-700">

          <a href="#">
              <h5 class="mt-8 mb-0 text-lg font-bold tracking-tight text-center text-gray-900 whitespace-normal w-70 line-clamp-1 hover:line-clamp-none dark:text-white">{{ album.name }}</h5>
              <p class="mb-2 font-normal text-center text-gray-700 dark:text-gray-400">{{ album.artist.name }}</p>
          </a>
          <a href="#">
            <img class="object-cover w-40 h-40 mb-2 rounded-t-lg" src="{{ album.image.url}}" alt="" />
        </a>
        {% for track in album.tracks.all %}
        <p class="mb-2 font-normal text-center text-gray-700 dark:text-gray-400">{{ track.name }}</p>
        <audio controls>
            <source src="{{ track.audio_file.url }}" type="audio/mp3">
            Your browser does not support the audio element.
        </audio>
      <!-- </div> -->
      <!-- </div> -->
    </div>
  {% endfor %}
  {% endfor %}
{% endblock content %}
</body>
</html>