{% load static %}
<!-- sidebar.html - Side Navbar template -->
{% block content %}
<nav class="sidebar">
    <div class="sidebar-header">
        <!-- <img src="{% static 'catalogue/images/logo/atracktive.png' %}" alt="atracktive logo" width="189px" height="151px" /> -->
    </div>

    <ul class="nav">
        <!-- Navigation Views -->
        <li class="nav-item">
            <a class="nav-link" href="{% url 'view1' %}">View 1</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'view2' %}">View 2</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'view3' %}">View 3</a>
        </li>

        <!-- Sign Out -->
        <li class="nav-item">
            <a class="nav-link" href="{% url 'sign_out' %}">Sign Out</a>
        </li>
    </ul>
</nav>
{% endblock content %}
